//không chứa code css, chỉ chứa đường dẫn tới các file con

//Helper
@import './Helper/variables';
@import './Helper/mixin';

//Vendor

//Base
@import './Base/reset';
@import './Base/customize';
@import './Base/normalized';

//Components
@import './Components/button';

//Layout
@import './Layouts/header';
@import './Layouts/carousel';
@import './Layouts/alliance';
@import './Layouts/subcate';
@import './Layouts/wrapper';
@import './Layouts/maincate';

//Page

// Theme
